* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    margin-top: 200px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.card {
    width: 200px;
    height: 230px;
    border: solid 1px rgb(159, 159, 159);
    border-radius: 25px;
    margin-left: 4rem;
    position: relative;
}

.product-image {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
    padding-bottom: 1rem;
}

h4 {
    margin-left: 1rem;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
}